*{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family:myFirstFont;

    scroll-behavior:smooth;
  

}
* ::-webkit-scrollbar {
     display: none;
   }

@font-face {
  font-family: myFirstFont;
  src: url("CatCafe.ttf");
}
strong{
  font-weight:bold;
  font-size:18pt;
}


/*Navigation*/

nav{
    text-align: center; 
    overflow: hidden;
    background-color: black;
}
.nav-links{
    margin-right: 9%;
}
nav .nav-links li{
    display: inline-block;
    margin-top: 2.5%;
    margin-right: 5%;
}
nav .nav-links a{
    text-decoration: none;
    color: gold;
    font-size: 17pt;
    padding-right: 5%;
    transition: 150ms;  
}

nav .nav-links li a:hover{
    font-weight: bold;
    color: white;
    transform: scale(1.5);
    transition: 150ms;
}




.active{
    font-weight: bold;
    text-decoration: underline;
    font-size: 22pt;
    color: white;
}
.nav-links #header-logo{
    float: left;
    margin-left: 8px;
    padding: 8px;
    transition: 150ms;
}
.nav-links #header-logo:hover{
    opacity: .8;
    transform: scale(1.25);
    transition: 150ms;
    margin-bottom: 1%;
    margin-top:1%;
}
.nav-links #header-logo:active{
    transform: scale(1.05);
    transition: 150ms;
}


/*Navigation for mobile*/
.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: black;
    height: 500px;
    color: Gold;
    border-radius: 10px;
    display: none;
  }
  
  .mobile-nav-links {
    overflow: hidden;
    background-color: black;
    position: relative;
    list-style-type: none;
  }
  
  .mobile-nav-links #myLinks {
    display: none;
  }
  
  .mobile-nav-links a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .mobile-nav-links a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .mobile-nav-links a:hover {
    background-color: black;
    color: goldenrod;
  }

  .mobile-nav-links #header-logo:hover{ 
      opacity: 0.8;
      color: gold;
  }

/*Header*/
header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("pexels-photo-884600.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
header h1{
    color:white;
    font-size: 50pt;
}
.socials{
    display:flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
.fa-instagram, .fa-facebook-square{
    transition: 200ms;
    transform: scale(4);
    color: gold;
    margin: 50px;
    
}
.fa-instagram{
    margin-right: 25;
}
.fa-facebook-square{
    margin-left: 25px;
}
.fa-instagram:hover, .fa-facebook-square:hover{
    color: white;
    transform: scale(6.5);
    transition: ease-in .25s;
    box-shadow: 0 0 px;
}

.fa-instagram:active,.fa-facebook-square:active{
    transform: scale(4);
    transition: 100ms;
 }

header p{
    color: white;
    width: 35%;
    font-size: 20pt;   
}
header #learn-more{
    text-decoration: none;
    background-color: white;
    color:black;
    padding: 10px;
    border-radius: 15px;
    font-size: 20pt;
    transition: ease-out .35s;
    box-shadow: black 2px 2px 2px;
    box-shadow: 0 0 25px;
}

header #learn-more:hover{
    transform: scale(1.3);
    
    transition: ease-in .32s;
    background-color: black;
    color: goldenrod;
    
}
header #learn-more:active{
    transition: 75ms;
    transform: scale(1.12);
}
.space{
    margin:2.5%;
}

/* home body*/
 #main-home{

margin-left: 20%;
margin-right: 20%;
padding-top:25px;
padding-left:1%;
padding-right: 1%;
border: solid 4px goldenrod;
border-radius: 15px;
margin-top: 1%;
background-color: rgba(255, 255, 255, .85);
box-shadow: 0 0 25px;
}


body{
    background-color: bisque!important;
    text-align: center!important;
    
}
body #heading{
    padding: 2%!important;
    color: black;
    text-decoration: underline;
    
}

#main-home section{
    width: 30%;
    display: inline-block;
    font-size: 1.5em;
    color: black;
    }
    #left{
    float: left;
    }
    #middle{
    float: none;
    }
    #right{
    float: right;
    }
.logo-heading{
    text-decoration: underline;
    margin-bottom: 5%;
}
#friends{
    margin-bottom: 21%;
}
.logo{
    width:12vw;
    padding: 5px;
    margin-bottom: 10%;
    transition: 150ms;
}
.logo:hover{
    transform: scale(1.25);
    transition: 150ms;
    padding: 1%;
    margin-top: 15px ;
}
 
.engage{
    font-size: 23pt;
    
}
#menu-btn {
    text-decoration: none;
    background-color: black;
    color: goldenrod;
    padding: 10px;
    border-radius: 15px;
    font-size: 30pt; 
    transition: ease-out .3s;
    margin: auto;
}

#menu-btn:hover{
    transform: scale(1.5)!important;
    background-color: aliceblue;
    transition: ease-in .3s;
}


#map-title{
    margin-top: 15px;

    text-decoration: underline;
}
/* Set the size of the div element that contains the map */
#map {
    height: 25vw;
    
    margin-left: 25%;
    margin-right: 25%;

    margin-top: 5%;
    border-radius: 10px;
    transition: 150ms;
    margin-bottom: 4%;
/* PICTURE FRAME BORDER*/
     border:solid 3vmin ;
    border-bottom-color:#000;
    border-left-color:gray;
    border-radius:2px;
    border-right-color:gray;
    border-top-color:#000;
    border-radius: 10px;

  }

  #map:hover{
      transform: scale(1.15);
      transition: 150ms;
      margin-top: 8%;
      margin-bottom: 8%;
      padding: 5px;
      margin-left: 10%;
      margin-right: 10%;

  }

  /*About Page*/

  #main-about{
    margin-left: 15%;
    margin-right: 15%;
    padding-top:25px;
    padding-left:1%;
    padding-right: 1%;
    border: solid 4px goldenrod;
    border-radius: 15px;
    margin-top: 1%;
    background-color: rgba(255, 255, 255, .85);
    box-shadow: 0 0 25px;
  }
  #body-about{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url("pexels-photo-884600.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }


  
  #about-1{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url("pexels-photo-884600.jpeg");
    background-position: center;
    background-size: cover;
    height: 75vh;
  }
  .title h2{
       padding-top: 3%;
       text-decoration: underline;
       text-align: center;
       color: white;
  }


  #about-1 img, #about-3 img{
      height: 15vw;
      margin-right: 5%;
      display: inline-block;
      box-shadow: 0 0 25px gold;
  }
 

  #about-1 p{
    display: inline-block;
      font-size: 25pt;
      color: white;
      margin-top: 38%;
      display: flex;
      margin-bottom: 5%;
      /*margin-right:60% ;
      margin-left:5% ;*/
  }
  .p-about-1{
      width: 40%;
      float: left;
      display: flex;
  }
  .p-img-1{
      width: 40%;
      float: right;
      margin-right: 10%;
      margin-top: 15%;
      display: flex;
      box-shadow: 0 0 25px;
  }

/*The second Section*/
  #about-2{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url("pexels-jan-n-g-u-y-e-n-🍁-2664216.jpg");
    background-position: center;
    background-size: cover;
    height: 75vh;
   
  }

#about-2 img{
    height: 15vw;
    display: inline-block;
    box-shadow: 0 0 25px gold;
}


#about-2 p{
  display: flex;
    font-size: 25pt;
    color: white;
    display: flex;
  
}


.p-about-2 p{
    margin-top: 22%;
    margin-left: 60%;
    padding-right: 18%;
    flex-direction: row-reverse;
}


.p-img-2 {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 15%;
    display: flex;
    box-shadow: 0 0 25px;
}

/*The third section*/
  #about-3{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url("pexels-photo-2187662.jpeg");
    background-position: center;
    background-size: cover;
    height: 75vh;
    margin-bottom: 1.5%;
  }
  #about-3 p{
    display: inline-block;
    font-size: 25pt;
    color: white;
    margin-top: 38%;
    display: flex;
}

  /*Menu Page*/
  #menu-body{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url("pexels-photo-884600.jpeg" );
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  #menu-main{
    border-color:white ;
    margin-left: 20%;
    margin-right: 20%;
    padding-top:25px;
    padding-left:1%;
    padding-right: 1%;
    border: solid 4px goldenrod;
    border-radius: 15px;
    margin-top: 1%;
    background-color: rgba(255, 255, 255, .85);
  }

  #menu-body h1{
      text-decoration: underline;
      margin-bottom: 3%;
  }

 
/* Menu items*/ 

.mobile-menu-selection{
    display: none;
}

.menu-section{
    border-top: 5px gold solid;
}
.order{
    margin: 4%;
}
.order a{
    transition: ease-out .3s;
    font-size: 20pt;
    background-color: white;
    opacity: 1;
    margin: 2%;
    padding: 2%;
   border-radius: 15px;
   text-decoration: none;
   color: black;
}

.order a:hover{
    transform: scale(1.5)!important;
    color: gold;
    background-color: black ;
    transition: ease-in .3s;
}
.order a:active{
    transform: scale(1.25)!important;
    transition: ease-in .3s;
    color: gold;
}
.espacio{
    margin-top: 0%;
    
}


.menu-section h2{
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 25pt;
}
.menu-section h3{
    margin-top: 15%;
    margin-bottom: 4%;
    font-weight: bold;
}

#left,#middle,#right{
    width: 30%;
    display: inline-block;
}

#menu-main p{
    margin-bottom: 5%;
    display: flex;
    font-size: 16pt;
}


#menu-main img{
      width: 100%;
      box-shadow: 0 0 25px;
      transition: 200ms;
      padding: 15px;
  }
  #menu-main img:hover{
      transform: scale(1.25);
      transition: 200ms;
      margin-top: 8%;
      margin-bottom: 15%;
      opacity: .9;
  }
  .beer{
      margin-top: 11.5%;
  }

  .img-zoom img{
      display: flex;
      height: 18vw;
      padding: 15px;
  }
  .img-zoom:hover{
     margin-bottom: 5%;
   padding-right:10%;
   padding-left: 10%;
}
.prices-space{
    margin-top: -12%;
}
.menu-p{
    display: flex;
    font-size: 14pt;
}
.menu-p strong{
    width: auto; border-right: 3px solid goldenrod;
}


#left,#middle,#right{
    float: none;
    margin-right: 1%;
    margin-left: 1%;

}
.prices h4{
    font-weight: bold;
    font-size: 19pt;
}

.reservation-menu{
    border-top: solid gold 5px;
    padding-top: 8%;
}

  /*Reservation page*/
  #reservation-heading{
      text-decoration: underline;
      margin-top: 2%;
      font-size: 30pt;
      transition: 500ms;
      margin-left: 5%;
      margin-right: 5%;
  }
  #reservation-main{
      border-color:white ;
      margin-left: 22%;
      margin-right: 22%;
      padding-top:2px;
      padding-left:1%;
      padding-right: 1%;
      border: solid 4px goldenrod;
      border-radius: 15px;
      margin-top: 1%;
      box-shadow: 0 0 25px;
      background-color: rgba(255, 255, 255, .85);
      transition: 200ms;
      
  }
  #reservation-body{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url("pexels-kyle-lui-734562.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .line{
      border-top: gold solid 5px;
      margin-top: 25px;
  }
  form{
      padding: 5%;
      
  }
  input[type=text], input[type=radio],input[type=tel],input[type=email], input[type=date], input[type=time]{
    border: 0;
    border-bottom: black solid 4px ;
    border-radius: 5px;
    resize: vertical;
    padding-left:10px ;
  }
  .input-area{
      display: flex;
      flex-direction: column;
      margin: 5%;
  }
  label{
      font-size: 20pt;

  }
 
  form input{
      padding: 1px;
      border:0;
      height: 50px;
      font-size: 25pt;
      margin-left: 15%;
      margin-right: 15%;
      transition: 500ms;
  }
 #submit-btn{

    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 60px; 
    transition: 150ms;
 }
 #submit-btn:hover{
     background-color: black;
     color: goldenrod;
     transition: 150ms;
     transform: scale(1.25);
 }
 #submit-btn:active{
    transition: 150ms;
    transform: scale(1.05);
 }
  input:focus::placeholder{
    color: transparent;
}
input:focus{
    transform: scale(1.15);
    transition: 500ms;
}



/*Footer*/
footer{
    background-color: black;
    margin: 0;
    padding: 0;
    margin-top: 5%;
}
.footer-heading{
    color: goldenrod;
    font-size: 20pt;
}

footer .socials{
    display: flex;
    align-content: center;
    justify-content: center;
    margin:auto;
    height: auto;
    color: goldenrod;
    margin-top: -3.5%;
}



@media screen and (max-width:1600px){

    #main-about section{
        display: flex;
        flex-direction: column;
    }
    .p-img-1{
        margin: auto;
        margin-left: 25%;
        padding-right: 0;
    }
    #about-1 img, #about-3 img{
        height: 17vw;
        margin: auto;
        margin-right: 0;
        padding-right: 0;
    }

    
    .p-img-1{
        margin-right: 50%;
    }
   
    .p-about-1{
        margin: auto;
    }
    .p-about-1{
        width: 70%;
        float: left;
        display: flex;
        margin-top: -20%;
    }
    
    .title h2{
        margin-top: 1%;
        font-size: 50pt;
    }
   
    
    #about-2{
        display: flex;
        flex-direction: column;
    }
    .p-img-2{
        margin: auto;

    }
    .p-about-2{
        margin: auto;
    }

    
}

@media screen and (max-width:1590px){
    .bao-space{
        margin-top: 20%;
    }
    
}

@media screen and (max-width:1455px){
    .donburi-space{
        padding-top: 14%;
        margin-top: -25%;
    }
    .gyudon-space{
        margin-top: 26%;
    }
    .bao-space-under{
        margin-top: 75%;
    }

}
@media screen and (max-width: 1300px) {
   
    .beer{
        margin-top: 27%;
    }

    .miso-space{
        margin-top: -15%;
    }

   

}

@media  screen and (max-width:1100px){
    #main-home section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80%;
    }
    #left, #middle, #right{
        float: none;
        font-size: 1.5em;
    }
    .logo-heading{
        font-size: 1.5em;
    }

    #map{
        height: 50vw;
        margin-left: -5%;
        margin-right: -5%;
        padding: 5px;
        width: 100%;
        transition: 150ms;
    }
    #map:hover{
        transform: none;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        margin-left: -5%;
        margin-right: -5%;
        padding: 5px;
        padding-bottom: 5;
        transition: 150ms;
    }
    #menu-main img{
        height: 30vw;   
        display: flex;
        flex-direction: row;
    }
    .prices h4{
        margin-bottom: 15%;
        margin-top: 5%;
    }

    #reservation-main{
        margin-top: 5%;
        transition: 200ms;
    }

}
@media screen and (max-width: 1100px){
     /*Reservation*/
    form input{
        font-size: 15pt;
    }
    #reservation-heading{
        text-decoration: underline;
        margin-top: 3%;
        font-size: 25pt;
    }
     /*home page*/
    header p{
        width: 80%;
        transition: 150ms;
    }
    
    #left,#middle,#right{
        width: 100%;
    }

    #left p,#middle p,#right p{
        font-size: 25pt;
    }
    #main-home strong{
        font-size: 25pt;
    }

    .logo{
        width:25vw;
        padding: 5px;
        margin-bottom: 10%;
        transition: 150ms;
    }
    #map{
        height: 50vw;
        margin: auto;
        margin-bottom: 25px;
        padding: 50px;
        width: 100%;
        transition: 150ms;
    }
    #map:hover{
        transform: none;

    }

    /*Menu*/
    #menu-main{
        margin-left:4%;
        margin-right: 4%;
        padding-left: 15%;
        padding-right: 15%;
    }
    #menu-main img{
        height: 50vw;
        
    }
    .prices #h4{
        margin-top: 80px;
    }
    .prices{
        margin-bottom: 15%;
        margin-top: -12%;
    }

    .p-about-2 p{
        margin-top: 0%;
        margin-left: 1%;
        margin-bottom: -15%;
        padding-right: 0%;
        font-size: 25pt;
    }
    
    
    .p-img-2 {
       
        float: none;
        margin-left: 25%;
        margin-top: 15%;
        margin-bottom: -70%;
        display: flex;
        box-shadow: 0 0 25px;
    }
    
}

@media screen and (max-width:1010px) {
    header p{
    color: white;
    width: 100%;
    font-size: 20pt;  
    margin-left: 15%;
    margin-right: 15%;
    }
    header h1{
        font-size: 30pt;
    }
    #main-home{

        margin-left: 5%;
        margin-right: 5%;
        
        }

    #map{
        height: 75vw;
        
        padding: 25px;
        width: 75vw;
        transition: 150ms;
    }
    #map-1{
        margin-left: 15px;
    }
    #map:hover{
        transform: none;
       
    }
          


}

@media screen and (max-width:1099px) {
      /*MOBILE MENU */
      .mobile-menu-selection{
        display: block;
        font-size: 25pt;
        margin-bottom: 5%;
    }
    .mobile-menu-selection select{
        border:0;
        border-radius: 10px;
        padding: 10px;
    }
    
    .mobile-menu-selection select:focus{
       outline: 0;
    }
    
    .mobile-menu-selection select:hover{
        color: gold;
        background: black;
        transition: 250ms;
    }
    
    .mobile-menu-selection a:hover{
        background-color: white;
        outline:0 !important;
    }
    
    .mobile-menu-selection a::selection {
        color: none;
        background: none;
    }
    #menu-section-1{
        display: block;
    }
    #menu-section-2, #menu-section-3, #menu-section-4{
        display: none;
    }
    #order-2{
        display: inline-block;
        
    }
    #order-2 a{
        padding: 10px;
        font-size: 25pt;
    }
    #order-2 a:hover{
        background-color: black;
        color: gold;
    }
    /*menu items*/
    .bao-space-under{
        margin: 0;
    }
    .bao-space{
        margin: 0;
    }
    .miso-space{
        margin: 0;
        padding: 0;
    }
    .menu-section{
        font-size: pt;
    }
}
    

@media screen and (max-width: 800px){
    form input{
        font-size: 13pt;
    }
    footer .socials{
        padding-top: 5%;
        margin:auto;
        height: auto;
        color: goldenrod;
        margin-bottom: 0%;
    }

    .fa-instagram, .fa-facebook-square{
        transition: 200ms;
        transform: scale(2);
        color: gold;
        margin: 50px;
        
    }
    #menu-main{
        margin-left:4%;
        margin-right: 4%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .fa-instagram:hover, .fa-facebook-square:hover{
       transform: scale(2);
    }
    #reservation-main{
        border-color:white ;
        margin-left:15%;
        margin-right: 15%;}

        footer h1{
            margin-bottom: -8%;
            height: 1vh;
        }


        
}

@media screen and (max-width:700px) {
    /*Heading Fixed*/
header{
    margin-top: -10%;
}
/*Reservation*/
    #reservation-main, #main-about{
        margin-left: 5%;
        margin-right: 5%;
    }
   .p-about-1 p{
      font-size: 22pt!important;
   }
   .title h2 {
       font-size: 28pt!important;
   }

   .p-img-2 img{
       height: 32vw!important;
       
   }
   .p-img-2 {
    margin-right: 25%!important;
    text-align: center;
   float: left;
}

.p-img-1 img{
    height: 32vw!important;
    
}
.p-img-1 {
 margin-right: 2%!important;
float:left;
}

/*Mobile Navigation*/
.mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: black;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20%; 
    display: block;
    transition: 500ms;
  }
  
  .mobile-nav-links {
    overflow: hidden;
    background-color: black;
    position: relative;
    list-style-type: none;
  }
  
  .mobile-nav-links #myLinks {
    margin-bottom: 1%;
    transition: 1500ms;
  }

  .mobile-nav-links a {
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    margin-bottom: 1%;
  }
  
  .mobile-nav-links a.icon {
    background: black;
    display: block;
    position: absolute;
  }
  
  .mobile-nav-links a:hover {
    background-color: black;
    color: goldenrod;
  }

  .fa-bars{
      transform: scale(2);
      margin-top: 5%;
      margin-right: 5%;
  }

/*Hides normal desktop nav*/
.desktop-nav{
    display: none;
}
    
}



@media screen and (max-width: 500px){
   #learn-more{
       margin-bottom: 15%;
   }

   header p{
       font-size: 16pt;
       margin-left: 5%;
       margin-right: 5%;
   }

   .fa-facebook-square, .fa-instagram{
       transform: scale(4);
   }
   .fa-facebook-square:hover, .fa-instagram:hover{
       transform: scale(3);
   }
   #about-1 p{
    font-size: 8pt;
 }

#about-2 p{
    font-size: 13pt;
    margin-right: 15%;
    margin-bottom: -15%;
}

#about-3 p{
    font-size: 13pt;

}

#main-about img{
    height: 50vw;
    margin: -20%;
    margin-bottom: 15px;
    margin-top: 15px;
}#main-about p{
    font-size: 5pt;
}

.p-about-2 p{
    margin-top: 0%;
    margin-left: 25%;
    padding-right: 0%;


}


.p-img-2 {
   
    float: none;
    margin-left: 25%;
    margin-top: 15%;
    margin-bottom: -70%;
    display: flex;
    box-shadow: 0 0 25px;
}


    .title h2{
        font-size: 16pt;
       
        margin-bottom: -2%;
    }
}


@media screen and (max-width:950px){
    #about-1 p{
        font-size: 20pt;
    }

    #about-2 p{
        font-size: 20pt;
        margin-right: 15%;
        margin-bottom: -15%;
    }

    #about-3 p{
        font-size: 20pt;

    }

    #main-about img{
        height: 22vw;
        margin: -20%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #main-about #p-img-3{
        height: 33vw;
        margin-top: -150px ;
    }
}

/*Landscape mode*/

@media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {

/*enter code here*/
}
 